{% extends 'blog/base.html' %}

{% block title %}Delete Post - Django Blog{% endblock %}

{% block content %}
    <div class="form-container">
        <h2>Delete Post</h2>
        <p>Are you sure you want to delete the post "{{ object.title }}"?</p>
        
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="submit-btn btn-delete">Yes, Delete</button>
        </form>
        
        <div class="form-footer">
            <a href="{% url 'post_detail' object.pk %}">Cancel</a>
        </div>
    </div>
{% endblock %}